<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associar TAG</title>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/associate-tag.css') }}">
</head>
<body>
    
    <div class="container" id="container">
        <div class="header">
            <div class="header-content">
                <div class="logo-container">
                    <img src="{{ url_for('static', path='assets/images/titulo.png') }}" width="100%" alt="Logo">
                </div>
                <div class="counter-container">
                    <div class="bars-counter">
                        <h1>BARRAS</h1>
                        <h1 id="barrasCount">0</h1>
                    </div>
                    <div class="separator"></div>
                    <div class="tags-counter">
                        <h1>TAGS</h1>
                        <h1 id="tagsCount">0</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>Associar <span>TAG</span></h1>
            
            <!-- Input wrapper -->
            <div class="input-wrapper" id="inputWrapper">
                <input type="text" id="tag-input" placeholder="Aproxime a TAG..." autofocus>
            </div>

            <button id="btn-voltar">VOLTAR</button>
            
            <!-- Modal TAG encontrada -->
            <div id="tagModal" class="modal-overlay" style="display: none;">
                <div class="modal-content">
                    <h2>TAG encontrada</h2>
                    <p id="tagValue" class="tag-value"></p>
                    <div class="modal-actions">
                        <button id="cancelButton" class="btn btn-secondary">Cancelar</button>
                        <button id="associateButton" class="btn btn-primary">Associar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="{{ url_for('static', path='assets/images/capivara.png') }}" class="footer-capivara" alt="Img 2">
        </div>
    </div>
    <script src="{{ url_for('static', path='assets/js/counter.js') }}"></script>
    <script src="{{ url_for('static', path='assets/js/associate-tag.js') }}"></script>
</body>
</html>