<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/tag_validation.css') }}" />
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{{ url_for('static', path='assets/js/tag_validation.js') }}"></script>
</head>

<body>
    <div class="header">
        <div class="header-content">
            <div class="logo-container">
                <img src="{{ url_for('static', path='assets/images/logo_capi.png') }}" alt="Logo" id="logo">

            </div>
        </div>
    </div>
    <div class="content">
        <span>Passe o QR Code</span>
        <div id="reader_container">
            <div id="reader-border"></div>
            <div id="reader"></div>
        </div>
    </div>
    <img src="" alt="" id="capivara">
    <div class="footer">
        <img src="{{ url_for('static', path='assets/images/quadrados_inferiores.png') }}" alt="" class="footer_capibarra">
    </div>

    <div style="display: none;" id="modal_error">
        <span style="text-align: center;">TAG NAO HABILITADA</span>
    </div>

    <div style="display: none;" id="modal_success">
        <span style="text-align: center;">TAG ESCANEADA COM SUCESSO</span>
    </div>

    <div style="display: none;" id="modal_alert">
        <span style="text-align: center;">ERRO AO ESCANEAR TAG TENTE NOVAMENTE</span>
    </div>
</body>


</html>