<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Seus QR Codes</title>
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='assets/css/user-qrcode.css') }}">
</head>
<body>

    <div id="loadingOverlay">
        <div class="loader"></div>
    </div>

    <div class="page-wrapper" id="pageWrapper" style="display: none;">
    <img src="{{ url_for('static', path='assets/images/titulo.png') }}" class="page-logo" alt="Logo">
    <img src="{{ url_for('static', path='assets/images/capivara2.png') }}" class="page-capivara" alt="Capivara">


        <div class="numero-container">
            <p class="numero-label">Seu <b>NÚMERO</b> é</p>
            <div class="numero-box">
                <span class="numero-value" id="numeroValue">--</span>
            </div>
        </div>

        <h1 class="title" id="title">
            Você ganhou <span class="highlight" id="chancesCount">0</span> chance(s) de jogar na <b>CAPIGARRA!</b>
        </h1>

        <!-- Carrossel de QR Codes -->
        <div class="carousel-section">
            <div class="carousel" id="carousel"></div>
            <div class="carousel-dots" id="carouselDots"></div>
        </div>

        <div class="posicao-container" id="posicaoContainer">
            <p>Sua <b>POSIÇÃO</b> é:</p>
            <div class="posicao-box">
                <span class="posicao-value" id="posicaoValue">--</span>
            </div>
        </div>

        <div class="called-container" id="calledContainer" style="display: none;">
            <div class="called-box">
                <span class="called-value">A SUA VEZ CHEGOU!</span>
            </div>
        </div>

        <div class="buttons" id="buttonsContainer">
            <button class="button" onclick="window.location.reload()">RECARREGAR</button>
            <button class="button" id="btn_warn_me">ME AVISE</button>
        </div>
    
    </div>

    <!-- Mensagem de agradecimento (Finalizado) -->
    <div class="done-wrapper" id="doneWrapper" style="display: none;">
        <img src="/static/assets/images/titulo.png" class="page-logo" alt="Logo">
        <img src="/static/assets/images/capivara2.png" class="page-capivara" alt="Capivara">
        
        <div class="done-container">
            <div class="done-box">
                <p class="done-text">MUITO OBRIGADO POR PARTICIPAR DA <b>CAPIGARRA!</b></p>
            </div>
        </div>
    </div>

     <div class="page-footer">
        <img src="{{ url_for('static', path='assets/images/coracao.png') }}" class="footer-coracao" alt="Coração">
    </div>
    

    <script src="{{ url_for('static', path='assets/js/counter.js') }}"></script>
    <script src="{{ url_for('static', path='assets/js/user-qrcode.js') }}"></script>
</body>
</html>
