.content{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    gap: 5rem;
}

.content h1{
    font-size: 4rem;
    font-family: 'SharpGroteskPETrialBook', sans-serif;
    color: var(--light-color);
}

.content span{
    font-family: 'SharpGroteskPETrialBold', sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

button{
    font-family: 'SharpGroteskPETrialBook', sans-serif;
    border-radius: 2rem;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: var(--chocolate-color);
    color: var(--light-color);
    font-size: 4rem;
}