    * {
        box-sizing: border-box;
    }

    :root {
        --header-height: 10svh;
    }

    body {
        margin: 0;
        min-height: 100svh;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

    }

    .header {
        position: fixed;
        height: var(--header-height);
        width: 100%;
        top: 0;
    }

    .footer {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    #logo {
        height: 100%;
        width: auto;
        padding: 5px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100svh;
        gap: 20px;
    }

    #Qr-reader-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #queue_container {
        width: 50%;
    }

    .queue_background {
        background-color: #5d2a21;
        height: 100%;
        margin-right: 30px;
        border-radius: 20px;
        padding: 15px;
        padding-top: 0;
    }

    #reader {
        width: 80%;
        /* height: 80%; */
    }

    table {
        border-collapse: separate;
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        table-layout: fixed;
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #5d2a21;
        /* Ensures header stays on top */
        border-bottom: 2px solid white;

    }

    tbody {
        overflow-y: scroll;
        text-align: center;
    }

    table>* {
        font-size: 20;
        color: white;
        font-family: "SharpGrotesk-Medium20";
    }

    #reader-border {
        background-image: url('../images/fundo_qr_code_chocolate.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        inset: 0;
    }

    /* #reader video {
        width: 100% !important;
        height: 100% !important;
        object-fit: fill;
    } */

    #reader_container {
        width: 50svw;
        height: 50svh;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @font-face {
        font-family: 'SharpGrotesk-Medium20';
        src: url('../fonts/SharpGrotesk-Medium20.otf');
    }

    @font-face {
        font-family: 'SharpGroteskPETrial-Bold15';
        src: url('../fonts/SharpGrotesk-Bold15.otf');
    }

    span {
        color: white;
        font-size: 50;
        font-family: 'SharpGroteskPETrial-Bold15';
    }

    .footer_capibarra {
        height: 100%;
        width: auto;
    }

    #capivara {
        position: fixed;
        height: auto;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 25svw;
        max-width: 220px;
    }

    #modal_alert,
    #modal_success,
    #modal_error {
        color: white;
        position: fixed;
        width: 80%;
        height: 65%;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    #modal_success {
        background: linear-gradient(39deg, #22c3a6 0%, #2bb673 34%, #07d514 100%);
    }

    #modal_alert {
        background: linear-gradient(28deg, rgba(246, 113, 31, 1) 0%, rgba(255, 171, 24, 1) 67%);
    }

    #modal_error {
        background: linear-gradient(39deg, #c32258 0%, #b62b3b 34%, #d50707 100%);
    }

    #btn_scan,
    #btn_next {
        height: 100px;
        width: 200px;
        border-radius: 20px;
        background-color: #5d2a21;
        border: 0px;
        color: white;
        font-size: 32;
        font-family: 'SharpGroteskPETrial-Bold15';
    }

    #display-next-inline {
        height: 70px;
        background-color: #5d2a21;
        font-size: 36;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    #spinner {
        border: 6px solid #f3f3f3;
        border-top: 6px solid rgb(83, 46, 38);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
        margin: 0 auto;
        margin-top: 15px;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }